body{
  background-color: #1f242d;
  color: rgb(16, 172, 184);
  font-size: 25px;
}
.table-container {
display: flex;
flex-direction: column;
align-items: center;
}

table {
border-radius: 25px;
margin-top: 50px;
border-collapse: collapse;
width: 80%;
}

caption {
align-content: center;
font-size: 34px;
font-weight: bold;

}

thead {
background-color: #1f242d;
color: whitesmoke;
}

th,
td {
text-align: left;
padding: 12px;
}

th {
font-weight: bold;
}

caption:hover {
background-color: #fffdfd;
}


tbody tr:hover {
background-color: #fffdfd;
}



.carousel-item {
  scroll-snap-align: center;
  align-content: center;
  margin-right: 100px;
}

.carousel-item img {
  width: 100%;
  height: 700px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.5);
}

.carousel::-webkit-scrollbar {
  display: none;
}

h2 {
  text-align: center;
  color: #fff;
  font-size: 24px;
  margin-bottom: 20px;
}
