*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.continer{
    width: 80%;
    
    background: #ba91cb;
    padding: 34px;
    margin: auto;
}
.continer h1,p{
    text-align: center;
    /*   */
}

