@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

   /* .light-theme {
    
background-color: rgb(248, 248, 248);
color: rgb(7, 9, 7);

   } */
   .light-theme {
    background-color: #fff;
    color: #000;
  }
  
  .light-theme .navbar a:hover,.light-theme .navbar a, .light-theme .navbar a,.light-theme .logo,.light-theme .home-content h3 span{
    color: #1c1c1c;
    
  }
  .light-theme .social-media a{
    color: rgb(44, 57, 199);
    border: 2px solid rgba(55, 74, 137, 0.676);
  }
   .light-theme .social-media a:hover{
background: rgba(55, 74, 137, 0.676);
box-shadow: 0 0 20px rgba(55, 74, 137, 0.676);

   }
   .light-theme .btn2{
    background: #537393;
    box-shadow: 0 0 10px #537393;
   }

body{
   background-color: #1f242d;
   color: #fff;
}
.header{
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     padding: 20px 10%;
     background: transparent;
     display: flex;
     justify-content: space-between;
     align-items: center;
     z-index: 100;
}
.logo{
    font-size: 25px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    cursor: default;
    opacity: 0;
    animation: slide-right 1s ease forwards;
}

.home{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 10% 0;
   
}
.home-content{
    max-width: 600px;
    
}
.home-content h3{
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slide-bottom 1s ease forwards;
    animation-delay: .7s;
}

.home-content h1{
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slide-right 1s ease forwards;
    animation-delay: 1s;
}
.home-content p{
    font-size: 16px;
    opacity: 0;
    animation: slide-left 1s ease forwards;
    animation-delay: 1s;
   
}
.home-content h3 span{
    color: #0ef;
}
.home-content h3:nth-of-type(2){
    margin: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}
.home-img {
    
 
   margin-right: -20px;
   
    animation: ZoomIn 3s ease forwards;
   
    animation-delay: 2s ;
    
    
}
.social-media a {
display:inline-flex;
justify-content: center;
align-items: center;
width: 40px;
height: 40px;
background: transparent;
border: 2px solid #0ef;
border-radius: 50%; 
font-size: 30px;
color: #0ef;
text-decoration: none;
margin: 30px 15px 30px 0px;
transition: 0.5s ease;
opacity: 0;
    animation: slide-left 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}
.social-media a:hover{
    background: #0ef;
    color: #1f242d;
    /* most important for hovereffect */
    box-shadow: 0 0 20px #0ef;
}
.my-theme-toggle {
    position: relative;
  z-index: 1;
   
  }
  
  
  
   .ok{
    display: inline-block;
    
    position: relative;
    top: -200px;
    left: -900px;
       padding: 5px;
    background: #56b3ba;
    border-radius: 20px;
    box-shadow: 0 0 10px #0ef;
    color: #263652;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 800; 

  }
.btn2{
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 50px;
    box-shadow: 0 0 10px #0ef;
    color: #1f242d;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600; 
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s ;
}
/* KEYFRAME ANIMATION */
@keyframes slide-right{
    0%{
        opacity: 0;
        transform: translateX(-100px);

    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideTop{
    0%{
        opacity: 0;
        transform: translateY(100px);

    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes slide-bottom{
    0%{
        opacity: 0;
        transform: translateY(-100px);

    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes slide-left{
    0%{
        opacity: 0;
        transform: translateX(100px);

    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes ZoomIn{
    0%{
        opacity: 0;
        transform: scale(0);

    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}
    
.flip-card {
    background-color: transparent;
    width: 250px;
    height: 350px;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
  }

 